$beta-notice: #da0000;
$side-width: 300px;

.beta-notice {
  color: $beta-notice;
}

.beta-notice-msg {
  font-size: 14px;
}

.section-block {
    margin: 10px 0;

    .v-input-first {
        margin-top: 0;
    }
}

.v-list {
  padding: 0;
}

.container--big {
  margin-left: $side-width;
  width: calc(100% - 300px);
  max-width: unset;
}

.container--small {
  max-width: 700px;
}

@media (max-width: 1300px) {
  .container--big {
    margin-left: 0;
    width: 100%;
  }
}
