$beta-notice: #da0000;
$side-width: 300px;

.beta-notice {
  color: $beta-notice;
}

.beta-notice-msg {
  font-size: 14px;
}

.section-block {
    margin: 10px 0;

    .v-input-first {
        margin-top: 0;
    }
}

.v-list {
  padding: 0;
}

.container--big {
  margin-left: $side-width;
  width: calc(100% - 300px);
  max-width: unset;
}

.container--small {
  max-width: 700px;
}

%a-maintitle, a.maintitle {
  text-decoration: none;
  color: #333;

  &:hover {
    color: #333;
  }
}

a.subtitle {
  @extend %a-maintitle;
  color: #999;
}

.no-margin-buttons {
  .v-btn {
    margin: 0px 8px 0px 0px;
  }
}

.change-log__content {
  margin: 15px 0;
}

.change-log__title {
  font-size: 14px;
  font-weight: 700;
}

.change-log__list {
  font-size: 12px;
}

.change-log__list li {
  font-size: 12px;
}

@media (max-width: 1300px) {
  .container--big {
    margin-left: 0;
    width: 100%;
  }
}
