$beta-notice: #da0000;
$side-width: 300px;

.theme--light.application {
  background: #f9f9f9;
}

.beta-notice {
  color: $beta-notice;
}

.beta-notice-msg {
  font-size: 14px;
}

.section-block {
    margin: 10px 0;

    .v-input-first {
        margin-top: 0;
    }
}

.v-list {
  padding: 0;
}

.container--big {
  margin-left: $side-width;
  width: calc(100% - 300px);
  max-width: unset;
}

.container--small {
  max-width: 700px;
}

%a-maintitle, a.maintitle {
  text-decoration: none;
  color: #333;

  &:hover {
    color: #333;
  }
}

a.subtitle {
  @extend %a-maintitle;
  color: #999;
}

.no-margin-buttons {
  .v-btn {
    margin: 0px 8px 0px 0px;
  }
}

.change-log__content {
  margin: 15px 0;
}

.change-log__title {
  font-size: 14px;
  font-weight: 700;
}

.change-log__list {
  font-size: 12px;
}

.change-log__list li {
  font-size: 12px;
}

.dataset-empty-notice {
  font-size: 12px;
  font-weight: 700;;
  text-align: center;
  color: #a1a1a1;
}

.v-expansion-panel, .v-card {
  border: 1px solid rgba(0, 0, 0, .12) !important;
  border-radius: 10px;
  box-shadow: none;
  overflow: hidden;
}

.v-input--switch__thumb {
  box-shadow: none;
  color: #f0f0f0 !important;
}

.menuable__content__active {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

@media (max-width: 1300px) {
  .container--big {
    margin-left: 0;
    width: 100%;
  }
}
